{% extends 'base.html' %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm">
        <h1>Output</h1>


        <p><strong>Campaign ID: </strong> {{ data.newsletter_campaign_id }}</p>
        <p><strong>Tile 1 Location: </strong> {{ data.tile_1_location }}</p>
        <p><strong>Tile 1 Headline: </strong> {{ data.tile_1_headline }}</p>
        <p><strong>Tile 2 Location: </strong> {{ data.tile_2_location }}</p>
        <p><strong>Tile 2 Headline: </strong> {{ data.tile_2_headline }}</p>

    </div>
    </div>
</div>
{% endblock %}





